@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('fonts/95c77f9f7f6918fa0f88218ad47b173a.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('fonts/22c97fca247bb36ed9fdb43ce477cb1c.ttf') format('truetype');
}
